<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magecom\Donation\Api\SaveDonationInformationInterface" type="Magecom\Donation\Model\SaveDonationInformation" />

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_donation_config_provider" xsi:type="object">Magecom\Donation\Model\DonationConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
